<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveWith_android"
        tools:targetApi="31">
        <activity android:name=".GraphDayActivity"/>
        <activity android:name=".GraphHrActivity"/>
        <activity android:name=".GraphBpActivity"/>
        <activity android:name=".GraphStressActivity"/>
        <activity android:name=".ThreatActivity"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login1Activity"/>
        <activity android:name=".Login2Activity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".CkAccessActivity" />
    </application>

</manifest>